.profile{
    margin-top: 80px;
    margin-left: 200px;
    font-family: 'Russo One';
    font-weight: 400;
    font-size: 40px;
    color: #86C232;
    padding-top: 25px;
}
.profileAll{
    background-color: #161A1D;
    height: 100px;
}
.photoProfile{
    width: 300px;
    height: 300px;
    margin-left: 150px;
    margin-top: 30px;
    border-radius: 50%;
}
.profileBody{
    display: flex;
    margin-left: -20px;
    padding-bottom: 200px;
}
.profileBodyText{
    font-family: 'Russo One';
    font-weight: 400;
    font-size: 20px;
    color: #86C232;
}
.profileBodyFact{
    font-family: Comfortaa;
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin-top: 3px;
    margin-left: 20px;
}
.profileBodyAll{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
.photoButton{
    font-family: 'Comfortaa';
    width: 200px;
    height: 40px;
    color: #fff;
    background-color: #61892F;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    margin-top: 50px;
}
.editButton{
    font-family: 'Comfortaa';
    width: 200px;
    height: 40px;
    color: #fff;
    background-color: #61892F;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    margin-top: 55px;
}
.buttonsProfilee{
    font-family: 'Comfortaa';
    width: 200px;
    height: 40px;
    color: #fff;
    background-color: #61892F;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    margin-top: 35px;
    margin-left: 20px;
}
.buttonsProfile{
    margin-top: -12px;
}